.top-menu {
    background-color: #3C8DBC;
    color: white;
    padding: 10px;
    text-align: right;
    position: fixed; /* Fixar o menu superior */
    width: 100%; /* Ajustar a largura do menu superior */
    top: 0;
    height: 50px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: space-between; /* Espalhar o conteúdo */
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
    left: 0;
}

.menu-title {
    margin-left: 30px;
    font-size: 20px;
}