<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Soccer Swag{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/side_menu.css">
    <link rel="stylesheet" href="/static/css/top_menu.css">
    <link rel="stylesheet" href="/static/css/variables.css">

    

</head>
<body>
    {% include "top_menu.html" %}
    <div class="container">
        {% include "side_menu.html" %}
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
