<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Soccer Swag{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/login.css?v=1.1" />
    <link rel="stylesheet" href="/static/css/variables.css?v=1.1" />
    <link rel="stylesheet" href="/static/css/side_menu.css?v=1.1" />
    <link rel="stylesheet" href="/static/css/style.css?v=1.1" />
    <link rel="stylesheet" href="/static/css/top_menu.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    {% include "top_menu.html" %}
    <div class="container">
      {% include "side_menu.html" %}
      <main class="content">{% block content %}{% endblock %}</main>
    </div>
  </body>
</html>
