<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivos</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="upload-container">
        <h1>Upload de Arquivos</h1>
        <form id="uploadForm">
            <div class="upload-drop-zone" id="drop-zone">
                <p>ARRASTE E SOLTE OS ARQUIVOS AQUI<br>ou se preferir...</p>
                <input type="file" id="fileInput" name="file" multiple required>
                <label for="fileInput">Escolha um arquivo para fazer upload</label>
            </div>
            <div class="buttons">
                <button type="button" id="cancelButton">Cancelar</button>
                <button type="submit">Fazer Upload</button>
            </div>
        </form>
        <p id="response"></p>
    </div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
