<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Uploads</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="upload-container">
        <h1>Arquivos Carregados</h1>
        <div class="file-list" id="fileList">
            {% for file in files %}
                <div class="file-item">
                    <a href="/images/{{ file }}" target="_blank">
                        <img src="/images/{{ file }}" alt="{{ file }}" class="uploaded-image">
                    </a>
                    <p>{{ file }}</p>
                    <button class="delete-button" data-filename="{{ file }}">Deletar</button>
                </div>
            {% endfor %}
        </div>
        <p id="response"></p>
        <button id="backToUploadButton">Voltar para Upload</button>
    </div>
    <script src="/static/js/manage_uploads.js"></script>
</body>
</html>
