<nav class="side-menu">
    <ul>
        <li><div><span class="menu-icon"><img src="/static/images/Botão de acesso ao crud.svg" alt="Icone Menu"></span><a href="#">USUÁRIOS</a></div></li>
        <li><div><span class="menu-icon"><img src="/static/images/Botão de acesso ao crud.svg" alt="Icone Menu"></span><a href="#">CLIENTES</a></div></li>
        <li><div><span class="menu-icon"><img src="/static/images/Botão de acesso ao crud.svg" alt="Icone Menu"></span><a href="#">FORNECEDORES</a></div></li>
        <li><div><span class="menu-icon"><img src="/static/images/Botão de acesso ao crud.svg" alt="Icone Menu"></span><a href="#">CAMISAS</a></div></li>
        <li><div><span class="menu-icon"><img src="/static/images/Botão de acesso ao crud.svg" alt="Icone Menu"></span><a href="#">COMPRAS</a></div></li>
        <li><div><span class="menu-icon"><img src="/static/images/Botão de acesso ao crud.svg" alt="Icone Menu"></span><a href="#">VENDAS</a></div></li>
        <li><div><span class="menu-icon"><img src="/static/images/Botão de acesso ao crud.svg" alt="Icone Menu"></span><a href="#">HISTÓRICO</a></div></li>
    </ul>
    <div class="menu-footer">
        <img src="/static/images/LOGO branca.svg" alt="Soccer Swag">
    </div>
</nav>
